:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* color */
  --white-color: #fff;
  --main-txt-color: #212121;
  --accent-color: #2196f3;
  --grey-color: #757575;
  --darkblue-background-color: #2f303a;
  --lightdrey-background-color: #f5f4fa;
  --border-color: #ececec;
  --border-cart-color: #eeeeee;
  --btn-background-color: #188ce8;
  /* animation */
  --animation-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translatex(-600px);
            transform: translatex(-600px);
  }
  100% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translatex(-600px);
            transform: translatex(-600px);
  }
  100% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}
@-webkit-keyframes animateY {
  0% {
    opacity: 0.5;
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
  }
  50% {
    opacity: 0.7;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes animateY {
  0% {
    opacity: 0.5;
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
  }
  50% {
    opacity: 0.7;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0.3;
    -webkit-transform: translateY(300px) scale(0.3);
            transform: translateY(300px) scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatey(0) scale(1);
            transform: translatey(0) scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0.3;
    -webkit-transform: translateY(300px) scale(0.3);
            transform: translateY(300px) scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatey(0) scale(1);
            transform: translatey(0) scale(1);
  }
}
@media screen and (min-width: 480px) {
  .portfolio, .clients, .team, .cart, .feature, .hero {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .portfolio, .clients, .team, .cart, .feature, .hero {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio, .clients, .team, .cart, .feature, .hero {
    padding: 94px 0;
  }
}

.portfolio__container, .footer__container, .clients__container, .team__container, .cart__container, .feature__container, .hero__container, .header__container, .header {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .portfolio__container, .footer__container, .clients__container, .team__container, .cart__container, .feature__container, .hero__container, .header__container, .header {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__container, .footer__container, .clients__container, .team__container, .cart__container, .feature__container, .hero__container, .header__container, .header {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__container, .footer__container, .clients__container, .team__container, .cart__container, .feature__container, .hero__container, .header__container, .header {
    width: 1200px;
  }
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-color);
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: 5px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.hero__btn {
  display: inline-block;
  padding: 10px 24px;
  font-family: inherit;
  line-height: 1.6;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-transition: background-color var(--animation-hover), color var(--animation-hover);
  transition: background-color var(--animation-hover), color var(--animation-hover);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--btn-background-color);
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-form__group {
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__group {
    margin: 0;
  }
}
@media screen and (min-width: 450px) and (max-width: 768px) {
  .footer-form__group {
    text-align: center;
  }
}

.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__email {
  margin-bottom: 20px;
  min-width: 450px;
  min-height: 50px;
  padding: 15px 16px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}
@media screen and (min-width: 1200px) {
  .footer-form__email {
    margin: 0 12px 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__email {
    min-width: 358px;
  }
}

.footer-form__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  background-color: var(--accent-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form__btn-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--animation-hover), visibility var(--animation-hover);
  transition: opacity var(--animation-hover), visibility var(--animation-hover);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  display: block;
  position: absolute;
  padding: 40px 39px 40px 41px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity var(--animation-hover), -webkit-transform var(--animation-hover);
  transition: opacity var(--animation-hover), -webkit-transform var(--animation-hover);
  transition: transform var(--animation-hover), opacity var(--animation-hover);
  transition: transform var(--animation-hover), opacity var(--animation-hover), -webkit-transform var(--animation-hover);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-btn__icon {
  width: 18px;
  height: 18px;
  -webkit-transition: fill var(--animation-hover);
  transition: fill var(--animation-hover);
}
.modal-btn__icon:hover, .modal-btn__icon:focus {
  fill: #2196f3;
}

.register-form {
  text-align: center;
}

.register-form__title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: inherit;
}

.register-form__group {
  margin-bottom: 20px;
}

.register-form__wrap {
  display: block;
  position: relative;
}
.register-form__wrap:not(:last-child) {
  margin-bottom: 10px;
}

.register-form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.register-form__input,
.register-form__message {
  height: 40px;
  width: 100%;
  padding: 15px;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation-hover);
  transition: border-color var(--animation-hover);
}

.register-form__input:hover,
.register-form__input:focus,
.register-form__message:hover,
.register-form__message:focus {
  border-color: var(--accent-color);
}

.register-form__message {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  -webkit-transition: border-color var(--animation-hover);
  transition: border-color var(--animation-hover);
}
.register-form__message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.register-form__icon {
  position: absolute;
  bottom: 11px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill var(--animation-hover);
  transition: fill var(--animation-hover);
}
.register-form__input:hover + .register-form__icon, .register-form__input:focus + .register-form__icon {
  fill: var(--accent-color);
}

.register-form__agreement {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-checkbox:checked + .register-checkbox__icon .register-icon__uncheck {
  opacity: 0;
  -webkit-transition: opacity var(--animation-hover);
  transition: opacity var(--animation-hover);
}

.register-checkbox__icon {
  margin-right: 8px;
  -webkit-transition: background-color var(--animation-hover);
  transition: background-color var(--animation-hover);
}
.register-checkbox:checked + .register-checkbox__icon {
  background-color: var(--accent-color);
}

.register-icon__check {
  opacity: 0;
  fill: var(--white-color);
  -webkit-transition: opacity var(--animation-hover);
  transition: opacity var(--animation-hover);
}
.register-checkbox:checked + .register-checkbox__icon .register-icon__check {
  opacity: 1;
}

.register-checkbox:checked .register-checkbox__icon {
  background-color: var(--accent-color);
}

.register-checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register-checkbox__link {
  color: rgb(33, 150, 243);
  text-underline-position: under;
}

.register-form__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-color);
}
.register-form__btn:hover, .register-form__btn:focus {
  background-color: var(--btn-background-color);
}

@media screen and (min-width: 738px) {
  .nav {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}

.nav__list {
  display: none;
}
@media screen and (min-width: 738px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: block;
  padding: 32px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--animation-hover);
  transition: color var(--animation-hover);
  color: var(--main-txt-color);
  position: relative;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  opacity: 0;
  -webkit-transition: opacity var(--animation-hover);
  transition: opacity var(--animation-hover);
}
.nav__link:hover:after {
  opacity: 1;
}
@media screen and (min-width: 738px) {
  .nav__link {
    font-size: 14px;
  }
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__link.nav__link--current::after {
  opacity: 1;
}

.header {
  border-bottom: 1px solid var(--border-color);
}
@media screen and (min-width: 738px) and (max-width: 1200px) {
  .header {
    margin: 0;
    padding: 0;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 700;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
  }
}

.header__logo--styles {
  font-style: var(--secondary-font);
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}

@media screen and (min-width: 450px) and (max-width: 1200px) {
  .contacts__list {
    display: none;
  }
}
@media screen and (min-width: 738px) and (max-width: 1200px) {
  .contacts__list {
    max-width: 138px;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}
.contacts__list .contacts__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--grey-color);
  -webkit-transition: color var(--animation-hover);
  transition: color var(--animation-hover);
}
@media screen and (min-width: 1200px) {
  .contacts__list .contacts__link {
    padding: 32px 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon-envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: fill var(--animation-hover);
  transition: fill var(--animation-hover);
}

.contacts__icon-smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: fill var(--animation-hover);
  transition: fill var(--animation-hover);
}

.contacts__icon-envelope:hover,
.contacts__icon-smartphone:hover,
.contacts__icon-envelope:focus,
.contacts__icon-smartphone:focus {
  fill: var(--accent-color);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--darkblue-background-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/Img-10-2.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Img-10-2.jpg");
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0 200px 0;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  -webkit-animation: move 1500ms linear 100ms 1 both;
          animation: move 1500ms linear 100ms 1 both;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.feature {
  padding-bottom: 0;
}

@media screen and (min-width: 738px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 738px) and (max-width: 1200px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 738px) and (max-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

.feature__title {
  margin-bottom: 10px;
}

.feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: var(--lightdrey-background-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-block__icon {
  margin: 0;
  width: 70px;
  height: 70px;
}

.feature__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.feature__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

@media screen and (min-width: 450px) and (max-width: 1200px) {
  .cart {
    display: none;
  }
}

.cart__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  -webkit-animation: move 1500ms linear 100ms 1 both;
          animation: move 1500ms linear 100ms 1 both;
}

.cart__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.cart__item {
  position: relative;
  -webkit-animation: fade-in 1500ms ease 100ms 1 alternate both;
          animation: fade-in 1500ms ease 100ms 1 alternate both;
}

.cart__img {
  display: block;
}

.cart__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 3px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
  width: 100%;
  padding: 27px 107px;
  -webkit-animation: animateY 5000ms ease 500ms 1 alternate both;
          animation: animateY 5000ms ease 500ms 1 alternate both;
}

.team {
  background-color: var(--lightdrey-background-color);
}

.team__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  -webkit-animation: move 1500ms linear 100ms 1 both;
          animation: move 1500ms linear 100ms 1 both;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  background-color: var(--white-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-animation: fade-in 1500ms ease 100ms 1 alternate both;
          animation: fade-in 1500ms ease 100ms 1 alternate both;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

.team__img {
  display: block;
}

.team__wrapper {
  padding: 30px 0;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.team__profession {
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AFB1B8;
  -webkit-transition: background-color var(--animation-hover), color var(--animation-hover);
  transition: background-color var(--animation-hover), color var(--animation-hover);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  -webkit-animation: move 1500ms linear 100ms 1 both;
          animation: move 1500ms linear 100ms 1 both;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 450px) and (max-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.clients__item {
  border-radius: 4px;
  -webkit-animation: fade-in 1500ms ease 100ms 1 alternate both;
          animation: fade-in 1500ms ease 100ms 1 alternate both;
}
@media screen and (min-width: 450px) and (max-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

.clients__logo {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  -webkit-transform: translatex(0);
          transform: translatex(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  -webkit-transition: border-color var(--animation-hover), fill var(--animation-hover);
  transition: border-color var(--animation-hover), fill var(--animation-hover);
}
@media screen and (min-width: 768px) {
  .clients__logo {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__logo {
    width: 170px;
  }
}
.clients__logo:hover, .clients__logo:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill var(--animation-hover);
  transition: fill var(--animation-hover);
}
.clients__logo:hover .clients__icon, .clients__logo:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  padding: 60px 0;
  background-color: var(--darkblue-background-color);
}

.footer__container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__group {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__group {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer__tablet {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__tablet {
    margin-left: 76px;
    margin-right: 101px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tablet {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 450px) and (max-width: 768px) {
  .footer__tablet {
    text-align: center;
  }
}

.footer__logo {
  font-weight: 700;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer__logo--styles {
  color: var(--white-color);
}

.footer__address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-contacts__list {
  margin-left: auto;
}

.footer-contacts__item {
  margin-top: 9px;
}

.footer-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--grey-color);
  -webkit-transition: color var(--animation-hover);
  transition: color var(--animation-hover);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__socials-group {
    margin-left: auto;
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__socials-group {
    margin-right: 93px;
    padding-top: 12px;
  }
}

.footer__socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  padding: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
}

.footer-socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 450px) and (max-width: 1200px) {
  .footer-socials__item:not(:last-child) {
    margin-right: 10px;
  }
}
.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--animation-hover), color var(--animation-hover);
  transition: background-color var(--animation-hover), color var(--animation-hover);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.portfolio-btn__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.portfolio-btn {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  background-color: var(--lightdrey-background-color);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 4px;
  -webkit-animation: move 1500ms linear 100ms 1 both;
          animation: move 1500ms linear 100ms 1 both;
  -webkit-transition: background-color var(--animation-hover), color var(--animation-hover), -webkit-box-shadow var(--animation-hover);
  transition: background-color var(--animation-hover), color var(--animation-hover), -webkit-box-shadow var(--animation-hover);
  transition: background-color var(--animation-hover), color var(--animation-hover), box-shadow var(--animation-hover);
  transition: background-color var(--animation-hover), color var(--animation-hover), box-shadow var(--animation-hover), -webkit-box-shadow var(--animation-hover);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-btn.portfolio-btn--current {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__bg {
  -webkit-animation: fade-in 1500ms ease 100ms 1 alternate both;
          animation: fade-in 1500ms ease 100ms 1 alternate both;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  -webkit-transition: opacity var(--animation-hover), -webkit-box-shadow var(--animation-hover), -webkit-transform var(--animation-hover);
  transition: opacity var(--animation-hover), -webkit-box-shadow var(--animation-hover), -webkit-transform var(--animation-hover);
  transition: box-shadow var(--animation-hover), opacity var(--animation-hover), transform var(--animation-hover);
  transition: box-shadow var(--animation-hover), opacity var(--animation-hover), transform var(--animation-hover), -webkit-box-shadow var(--animation-hover), -webkit-transform var(--animation-hover);
}
.portfolio__bg:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: relative;
  overflow: hidden;
  -webkit-transition: opacity var(--animation-hover), -webkit-transform var(--animation-hover);
  transition: opacity var(--animation-hover), -webkit-transform var(--animation-hover);
  transition: transform var(--animation-hover), opacity var(--animation-hover);
  transition: transform var(--animation-hover), opacity var(--animation-hover), -webkit-transform var(--animation-hover);
}

.overlay__img {
  display: block;
}

.overlay__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity var(--animation-hover), -webkit-transform var(--animation-hover);
  transition: opacity var(--animation-hover), -webkit-transform var(--animation-hover);
  transition: opacity var(--animation-hover), transform var(--animation-hover);
  transition: opacity var(--animation-hover), transform var(--animation-hover), -webkit-transform var(--animation-hover);
}
.portfolio__bg:hover .overlay .overlay__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio__wrapper {
  padding: 20px 24px;
  border: 1px solid var(--border-cart-color);
  border-top: none;
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  font-size: 18px;
}

.portfolio__subtitle {
  line-height: 2.2;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}/*# sourceMappingURL=main.css.map */