.feature {
  @extend %section;
  padding-bottom: 0;
}
.feature__container {
  @extend %container;
   
}
.feature__list {
  @media screen and (min-width: 738px){
        display: flex;
    gap: 30px;
  }
 @media screen and (min-width: 738px) and (max-width: 1200px){
    display: flex;
    flex-wrap: wrap;
      gap: 30px;
 }

}
.feature__item{
  @media screen and (min-width: 738px) and (max-width: 1200px){
  flex-basis: calc((100% - 30px * 2) / 2);

  }

}
.feature__title {
  margin-bottom: 10px;
}

.feature-block {
  display: flex;
  height: 120px;
  background-color: var(--lightdrey-background-color);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
    margin-bottom: 30px;
}

.feature-block__icon {
  margin: 0;
  width: 70px;
  height: 70px;
}

.feature__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.feature__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
