.header {
    @extend %container;
    border-bottom: 1px solid var(--border-color);
@media screen and (min-width: 738px) and (max-width: 1200px){
    margin: 0;
    padding: 0;
}
}

.header__container {
    @extend %container;
    display: flex;
    align-items: center;
    @media screen and (min-width: 320px) and (max-width: 767px){
        padding: 10px 0;
    }
}

.header__logo {
    font-weight: 700;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--accent-color);

    @media screen and (min-width: 1200px) {
            font-size: 26px;
        }
}

.header__logo--styles {
    font-style: var(--secondary-font);
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
}